html {
    font-family: Consolas, monaco, monospace;
    line-height: 1.5;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
    text-align: center;
    border: 2px solid #2c3e50;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article,
aside {
    flex-basis: 100%;
    border:2px solid #2c3e50;
    text-align: center;
    
}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
}

.example-col {
    padding: 20px 0 20px 0;
}

.example-row {
    padding-top: 40px;
}


#trips {
    padding: 15px;
    margin: 5px 0;
}

.three {
    margin-bottom: 20px;
    transition: all .3 ease-in-out;
}

.three:hover {
    transform: scale(1.2);
    color: #fff;
    cursor: pointer;
    background: #e74c3c;
}

#fours {
    padding: 20px;
    letter-spacing: 5px;
}

footer {
    background: #e74c3c;
    color: #fff;
    flex-basis: 100%;
    width: 100%;
}

/* --------- For larger screens --------- */

@media screen and (min-width: 768px) {
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    aside {
        flex: 2.5;
        border: 4px solid #2c3e50;
    }
    article {
        flex: 7.5;
        border: 4px solid #2c3e50;
    }
    ._25 {
        flex: 2.5;
        border: 4px solid #2c3e50;
    }
    ._55 {
        flex: 5.5;
        border: 4px solid #2c3e50;
    }
    ._20 {
        flex: 2;
        border: 4px solid #2c3e50;
    } 
    .column {
        flex: 1;
    }
    .three {
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #fours {
        padding: 20px;
    }
}